html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    background-image: url("img/pozadie.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.obsah {
    flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    padding: 20px;
}
.footer {
    flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    padding: 20px;
}

.komentare {
    height: 105px;
    width: 260px;
    overflow: auto;
}

.tlacidlo-nav {
    position: relative;
    display: flex;
    height: 40px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    padding: 10px;
    float: left;
    color: white;
    -webkit-transition-duration: 0.7s;
    box-shadow: 0 0 0 #31708f  inset;
}
.tlacidlo-nav:hover {
    box-shadow: 140px 0 0 #31708f inset;
    color: white;
}

.tlacidlo-border {
    border: 1px solid #31708f;
    border-radius: 4px;
}

.odkaz {
    color: white;
    text-decoration: none;
    -webkit-transition: color 0.3s;
}

.odkaz:hover {
    color: #31708f;
}

.centrovanie {
    margin: auto;
    display: block;
}

.uvod-tlacidla {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    -webkit-transition: transform .2s;
}

.uvod-tlacidla:hover {
    -webkit-transform: scale(1.1);;
}

.nadpis {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(40, 42,53, 0.5);
    text-align: center;
}

.farba-text {
    background-color: #d1d1d1;
}

.farba-zoznam {
    background-color: #e0e0e0;
}

.vymazat {
    z-index: 1;
    width: 100px;
    height: 50px;
}

